@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.portfolioPageWrap {
    position: fixed;
    top: 20%;
    width: 35%;
    left: 40%;
}

.qwe {
    position: relative;
    
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    
    height: 100px;
}

.img {
    position: absolute;
    
    width: 130px;
    height: 130px;
    top: -65px;
    
    left: 50%;
    
    transform: translateX(-50%);
    
    border-radius: 100px;
}



.infWrapper {
    height: 50px;
    justify-content: space-between;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.secElemProf {
    border-radius: 20px;
    margin-top: 20px;
    padding: 25px 15px;
}


.enmailAndPhoneWrapper {
    font-size: 15px;
}

.tableWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

}


.fullElemWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.apiElemWrapper {
    width: 83%;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid #808080;
    background-color: #202020;
    color: gray;
    font-size: 15px;
}

.nameOfElem {
    margin-right: 20px;
}

.tableWrapper:last-child {
    margin-bottom: 0;
}

.editIcon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.divEdit {
    display: flex;
    width: 72%;
    align-items: center;

}

.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
    backdrop-filter: blur(5px);
    
    z-index: 1000;
    
}

.editWrapper {
    height: 30%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editWrapper input {
    background-color: transparent;
    border: 2px solid #757474;
    margin-bottom: 20px;
    border-radius: 8px;
    color: var(--text-color);
    height: 45px;
    outline: none;
    width: 70%;
    transition: background-color 0.5s, box-shadow 0.5s;
}

.editWrapper input:focus {
    background-color: rgba(0, 86, 179, 0.2);
    
    box-shadow: 0 0 20px rgba(0, 86, 179, 0.5);
    
}

.zxc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.zxc button{
    width: 70%;
}