
:root {
    --primary-color: #030e1e;      
    --secondary-color: #6C757D;    
    --text-color: #dadada;         
    --background-color: #202020;   
    --backgroundElements-color: #000000; 
    --separator: #1e1e1e; 
    
  }
  