.firstRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 700px;
}

.secondRow {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-right: 30px;
}

.thirdRow{
    display: flex;
    flex-direction: row;
}