@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.wrapperTotalBAlance {
  border-radius: 20px;
  width: 370px;
  
}

.amountTitle {
  font-size: 25px;
  margin-bottom: 20px;
}

.amountWrapper {
  display: flex;
    align-content: space-around;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 40px;

}

.amount {
  font-size: 42px;
  font-weight: bold;
  color: var(--text-color);
  margin-right: 20px;
}

.amount span {
  font-size: 25px;
  color: #838383;
}


.amountPercentageWrapper {
  padding: 2px 13px;
  border-radius: 20px;
  display: flex;
  
  justify-content: center;
  
  align-items: center;
  height: 35px;
  
  transition: background-color 0.3s ease;
  
}


.amountPercentageWrapper span{
  color: black;
}

.spendingsWrapper{

}

.income,
.expenses {
  font-size: 15px;
  color: #b1b1b1;
  display: inline-flex; 
  align-items: center; 
}

.expenses {
  
  margin-left: 30px; 
}

.income::after {
  content: "(Income)"; 
  color: #308e30; 
  margin-left: 5px; 
}


.expenses::after {
  content: "(Expenses)"; 
  color: #a71f1f; 
  margin-left: 5px; 
}



