/* Modal.module.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Более сильное затемнение */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: var(--background-color); 
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3); 
    padding: 20px;
    border-radius: 10px;
    width: 30%; 
    height: 80%; 
    overflow-y: auto;
    position: relative;
}

/* Дополнительные стили */



.close-button-right {
    position: absolute;
    width: fit-content;
    cursor: pointer;
    top: 10px;
    right: 13px;
    cursor: pointer;
}