.chart {
    padding: 1rem;
    border-radius: 12px;
    background-color: #4b4b4b;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 10rem;
  }

  label{
    color: black;
  }