@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
.cardWrapper {
    border-radius: 20px;
    width: 370px;
    height: 280px;
    display: flex;
    flex-direction: column;
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Center items vertically within the container */
    width: 370px;
}

.titleWrapper h1 {
    margin-bottom: 0;
    font-size: 26px;
}

.settingSignButton {
    /* Set the button size to 40x40 pixels */
    width: 40px;
    height: 40px;
    background-color: transparent;
    /* Remove default button background */
    border: none;
    /* Remove default button border */
    display: flex;
    /* Use flexbox to center the image */
    align-items: center;
    /* Center the image vertically */
    justify-content: center;
    /* Center the image horizontally */
}

.settingSign {
    /* Set the image size to 40x40 pixels */
    width: 40px;
    height: 40px;
    /* Add any other styles for the image */
}


















.container {
    margin-top: 20px;
    width: 100%;
    background: #000;
}

.card {
    width: 315px;
    height: 169px;
    color: #fff;
    cursor: pointer;
    perspective: 1000px;
}

.card_inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front, .back {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #0045c7, #ff2c7d);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    backface-visibility: hidden;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.map_img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
}

.card_no {
    font-size: 25px;
    margin-top: 30px;
}

.card_holder {
    font-size: 12px;
    margin-top: 20px;
}

.name {
    font-size: 22px;
    margin-top: 20px;
}

.bar {
    background: #222;
    margin-left: -30px;
    margin-right: -30px;
    height: 60px;
    margin-top: 10px;
}

.card_cvv {
    margin-top: 20px;
}

.card_cvv div {
    flex: 1;
}

.card_cvv img {
    width: 100%;
    display: block;
    line-height: 0;
}

.card_cvv p {
    background: #fff;
    color: #000;
    font-size: 22px;
    padding: 10px 20px;
}

.card_text {
    margin-top: 20px;
    font-size: 14px;
}

.signature {
    margin-top: 10px;
}

.back {
    transform: rotateY(180deg);
}

.card:hover .card_inner {
    transform: rotateY(-180deg);
}


