@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.marketButtonsWrapper{
    border-radius: 20px;
}

.buttonsWrapper{
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.wrapForMarketElement {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
    background-color: transparent;
    position: relative; /* Required for positioning the ::after pseudo-element */
    align-items: center;
}
  
  .wrapForMarketElement img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
  }
  
  .wrapForMarketElement span {
    font-family: 'Quicksand', sans-serif;  
}
  
  .wrapForMarketElement::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px; /* Adjust the value based on your design */
    width: 1px; /* Width of the vertical bar */
    height: 100%; /* Set the height to 100% to match the button height */
    background-color: var(--separator); /* Color of the vertical bar */
  }

  .wrapForMarketElement:last-child::after {
   width: 0px; /* Width of the vertical bar */
   }
  