.wrapLogo {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.separator {
    position: relative;
}

.separator::after {
    content: "";
    display: block;
    height: 2px;
    width: 125%;
    background-color: var(--separator);
    
    position: absolute;
    bottom: -5px;
    
    left: 0;
}

.logo {
    width: 25px;
    height: 25px;
}


.logoName {
    font-size: 22px;
    font-weight: 600;
    font-family: Poppins;
}