.navigation {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  height: 150px;
  justify-content: space-between;
  margin-bottom: 320px;
}

.navigationSeparator {
  position: relative;

}

.navigationSeparator::after {
  content: "";
  display: block;
  height: 2px;
  width: 86%;
  background-color: var(--separator);
  
  position: absolute;
  bottom: -20px;
  
  left: 0;
  top: 450px;

}

.wrapForElement {
  padding: 0 10px;
  width: 86%;
  border-radius: 7px;
}


.clicked {
  background-color: #082e66;
  transition: background-color 0.2s ease;
  
}

.clicked button {
  color: #77a6ea;
  transition: color 0.2s ease;
  
}


.button {
  position: relative;
  
  padding-left: 40px;
  
  font-size: 15px;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
}

.button::before {
  content: '';
  
  display: block;
  position: absolute;
  
  top: 50%;
  
  left: 0;
  
  transform: translateY(-60%);
  
  width: 25px;
  
  height: 25px;
  background-image: url('../images/sidebarIcons/home.png');
  
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 40px;
  
}


.trans::before {
  background-image: url('../images/sidebarIcons/transaction.png');
  
}

.port::before {
  background-image: url('../images/sidebarIcons/portfolio.png');
  
}


.wallet::before {
  background-image: url('../images/sidebarIcons/wallet.png');
  
}