.button {
  position: relative;
  
  padding-left: 40px;
  
  font-size: 15px;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
}


.button::before {
  content: '';
  
  display: block;
  position: absolute;
  
  top: 50%;
  
  left: 0;
  
  transform: translateY(-60%);
  
  width: 25px;
  
  height: 25px;
  background-image: url('../images/sidebarIcons/home.png');
  
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 40px;
  
}







.help::before {
  background-image: url('../images/sidebarIcons/help.png');
}

.logOut::before {
  background-image: url('../images/sidebarIcons/logOut.png');
}


.sidebarFooter {
  display: flex;
  height: 100px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  margin-left: 12px;
}